 body{
     padding: 0;
     margin: 0;
     background: red;
 }
.fram{
 overflow: hidden;
     height: 120px;
     width: 100px;
     margin-left: 300px;
     margin-top: 20px;
     background: #11101d;
 }
 .slide {
     width: 300px;
     height: 120px;
     position: relative;
     margin: 0 0 0 -200px;
     -webkit-animation-name: slide_animation;
     -webkit-animation-duration: 10s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-direction: alternate;
     -webkit-animation-play-state: running;
 }
 @-webkit-keyframes slide_animation{

     0%{left:0px;}
     10%{left:100px;}
     20%{left:200px;}
     30%{left:100px;}
     40%{left:0px;}




     }
 .image1{
     height: 120px;
     width: 100px;
     position: relative;
     float: left;
     border: solid 2px brown;
     border-radius: 50%;
 }
 .image1 img{
     height: 120px;
     width: 100px;
     border-radius: 50%;
 }